body {
  background: #dbf2f8;
  color: #2e2e2e;
}

* {
  box-sizing: border-box;
}

section {
  background: #EDF9FC;
  border: 2px solid #363636;
  border-radius: 11.3px;
  font-size: 0px;
  margin: 0px auto;
  padding: 10px 23px;
  width: 600px;
}

@media (min-width: 1305px) {
  section {
    float: left;
    margin: 1%;
    min-width: 600px;
    width: 48%;
  }
}

@media (max-width: 1304px) {
  section + section {
    margin-top: 10px;
  }
}

div.show {
  background: #B8D0E1;
  border: 3px solid #2a71a5;
  border-radius: 9.2px;
  font-size: 16px;
  margin: 10px -13px;
  padding: 10px;
}

div:not(.show) {
  display: inline;
}

div:not(.show) :not(img) {
  display: none;
}

div:not(.show) + div:not(.show) {
  margin-left: 10px;
}

img {
  width: 60px;
  height: 60px;
}

div.show img {
  float: left;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  box-sizing: border-box;
  display: table-cell;
  height: 60px;
  margin: 0px;
  padding-left: 10px;
  overflow: hidden;
  vertical-align: middle;
}

p {
  margin-bottom: 0px;
}